# COVID-19 Data Interactive Dashboard

# Import necessary libraries

In [1]:
import pandas as pd
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
import plotly.express as px

In [2]:
import warnings

# Suppress specific FutureWarnings
warnings.filterwarnings("ignore", category=FutureWarning)

# Load the COVID-19 datasets

In [3]:
df_confirmed = pd.read_csv("time_series_covid19_confirmed_global.csv")
df_deaths = pd.read_csv("time_series_covid19_deaths_global.csv")
df_recovered = pd.read_csv("time_series_covid19_recovered_global.csv")

In [4]:
import warnings

# Suppress specific FutureWarnings
warnings.filterwarnings("ignore", category=FutureWarning)

# Data preprocessing function

In [5]:
df_confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

In [6]:
print(df_confirmed.columns)

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1147)

# Preprocess the datasets

In [7]:
# Data Preprocessing Function
def preprocess_data(df):
    df = df.drop(['Province/State', 'Lat', 'Long'], axis=1)  # Drop unnecessary columns
    df = df.groupby('Country/Region').sum()  # Aggregate data by country
    df = df.T  # Transpose the DataFrame to have dates as rows and countries as columns
    df.index = pd.to_datetime(df.index)  # Convert the index to datetime
    return df

In [8]:
# Preprocess the datasets
df_confirmed = preprocess_data(df_confirmed)
df_deaths = preprocess_data(df_deaths)
df_recovered = preprocess_data(df_recovered)

C:\Users\laksh\AppData\Local\Temp\ipykernel_18348\1295137390.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.index = pd.to_datetime(df.index)  # Convert the index to datetime
C:\Users\laksh\AppData\Local\Temp\ipykernel_18348\1295137390.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.index = pd.to_datetime(df.index)  # Convert the index to datetime
C:\Users\laksh\AppData\Local\Temp\ipykernel_18348\1295137390.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.index = pd.to_datetime(df.index)  # Convert the index to datetime

In [9]:
df_confirmed

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,0,4,...,0,0,0,0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-05,209390,334427,271477,47875,105277,11,9106,10044125,446819,11385534,...,1034303,251071,12014,552051,11526966,703228,535,11945,343135,264127
2023-03-06,209406,334427,271477,47875,105277,11,9106,10044957,446819,11385534,...,1034303,251071,12014,552125,11526966,703228,535,11945,343135,264127
2023-03-07,209436,334427,271490,47875,105277,11,9106,10044957,446819,11385534,...,1034303,251071,12014,552157,11526986,703228,535,11945,343135,264127
2023-03-08,209451,334443,271494,47890,105288,11,9106,10044957,447308,11385534,...,1034303,251247,12014,552157,11526994,703228,535,11945,343135,264276
2023-03-09,209451,334457,271496,47890,105288,11,9106,10044957,447308,11399460,...,1034303,251247,12014,552162,11526994,703228,535,11945,343135,264276

# Initialize the Dash app

In [10]:
# Initialize the Dash app
app = dash.Dash(__name__)

# Define the app layout

In [11]:
# App layout
app.layout = html.Div([
    html.H1("COVID-19 Interactive Dashboard"),
    
    # Dropdown menu for selecting a country
    dcc.Dropdown(
        id='country-dropdown',
        options=[{'label': country, 'value': country} for country in df_confirmed.columns],
        value='United States',  # Default value
        multi=False,  # Single selection
        clearable=False
    ),
    
    # Graphs for confirmed cases, deaths, and recovered cases
    html.Div([
        html.H2("Confirmed Cases"),
        dcc.Graph(id='confirmed-cases'),
    ]),
    
    html.Div([
        html.H2("Deaths"),
        dcc.Graph(id='deaths-cases'),
    ]),
    
    html.Div([
        html.H2("Recovered Cases"),
        dcc.Graph(id='recovered-cases'),
    ]),
])

# Define the callback function to update graphs

In [12]:
# Callback to update the graphs based on the selected country
@app.callback(
    [Output('confirmed-cases', 'figure'),
     Output('deaths-cases', 'figure'),
     Output('recovered-cases', 'figure')],
    [Input('country-dropdown', 'value')]
)
def update_graphs(selected_country):
    # Handle missing data
    if selected_country not in df_confirmed.columns:
        return {}, {}, {}
    
    # Plot for confirmed cases
    confirmed_fig = px.line(df_confirmed, x=df_confirmed.index, y=df_confirmed[selected_country], 
                            labels={'y': 'Confirmed Cases', 'index': 'Date'}, title=f'Confirmed Cases in {selected_country}')
    
    # Plot for deaths
    deaths_fig = px.line(df_deaths, x=df_deaths.index, y=df_deaths[selected_country], 
                         labels={'y': 'Deaths', 'index': 'Date'}, title=f'Deaths in {selected_country}')
    
    # Plot for recovered cases
    recovered_fig = px.line(df_recovered, x=df_recovered.index, y=df_recovered[selected_country], 
                            labels={'y': 'Recovered Cases', 'index': 'Date'}, title=f'Recovered Cases in {selected_country}')
    
    return confirmed_fig, deaths_fig, recovered_fig

# Run the Dash app

In [13]:
# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)